/* HEADER */
.header {
  display: flex;
}

a {
  text-decoration: none;
  margin: 0 2rem;
  color: black;
}
/* FORM */
.containerform {
  display: flex;
  flex-direction: column;

  margin: auto;
  width: 70%;
  align-items: center;
}

.inscription {
  width: 50%;
}
input {
  width: 50%;
}
button {
  width: 50%;
  margin-top: 2rem;
}

/* OFFERS */
.offers {
  display: flex;
  width: 70%;
}
img {
  max-width: auto;
  max-height: 90%;
}
